<section class="section">
  <div class="section-header">
    <h1>Invite New Vendor</h1>
  </div>
  
  <div class="section-body">
    <div class="card p-4">
      <%= form_for(resource, as: resource_name, url: employees_invite_path, html: {novalidate: true, data: {validate: true}}) do |f| %>
        
        <div class="form-group">
          <%= f.label :email, class: "required" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", required: true %>
        </div>

        <div class="form-group">
          <%= f.label :first_name, class: "required" %>
          <%= f.text_field :first_name, class: "form-control", required: true %>
        </div>
        
        <div class="form-group">
          <%= f.label :last_name, class: "required" %>
          <%= f.text_field :last_name, class: "form-control", required: true %>
        </div>
        
        <div class="form-group">
          <%= f.label :division, class: "required" %>
          <%= f.select :division, [['select', ''], ['Div', 1]], {}, class: "form-control", required: true %>
        </div>
        
        <div class="form-group">
          <%= f.label :site_name, class: "required" %>
          <%= f.text_field :site_name, class: "form-control", required: true %>
        </div>
        
        <div class="form-group">
          <%= f.hidden_field :role, value: "vendor" %>
          <%= f.submit "Create", class: "btn btn-primary px-5 p-2" %>
        </div>
      <% end %>
    </div>
  </div>
</section>