<div class="wizard-steps">
  <div class="wizard-step <%= past_step_class(:welcome) %> <%= current_step_class(:welcome) %>">
    <div class="wizard-step-label">
     Welcome
    </div>
  </div>
  <div class="wizard-step <%= past_step_class(:general_information) %> <%= current_step_class(:general_information) %>">
    <div class="wizard-step-label">
      General Information
    </div>
  </div>
  <div class="wizard-step <%= past_step_class(:company_details) %> <%= current_step_class(:company_details) %>">
    <div class="wizard-step-label">
      Company Details
    </div>
  </div>
  <div class="wizard-step <%= past_step_class(:management_details) %> <%= current_step_class(:management_details) %>">
    <div class="wizard-step-label">
      Management Information
    </div>
  </div>
  <div class="wizard-step <%= past_step_class(:gst_details) %> <%= current_step_class(:gst_details) %>">
    <div class="wizard-step-label">
      GST Data
    </div>
  </div>
  <div class="wizard-step <%= past_step_class(:statutory_details) %> <%= current_step_class(:statutory_details) %>">
    <div class="wizard-step-label">
      Statutory Details
    </div>
  </div>
  <div class="wizard-step <%= past_step_class(:bank_details) %> <%= current_step_class(:bank_details) %>">
    <div class="wizard-step-label">
      Bank Details
    </div>
  </div>
</div>

<div class="mb-5"></div>