<%= render layout: "layouts/vendors" do %>

  <div class="page-header pt-3 pb-2">
    <h2 class="d-flex justify-content-between">
      Management Info
      <div>
        <%= link_to 'Prev', previous_wizard_path, class: "btn btn-default" %>
        <%= link_to 'Next', next_wizard_path, class: "btn btn-primary" %>
      </div>
    </h2>
  </div>
  
  <div class="py-3 px-2">
    <%= form_for(@form_data, url: wizard_path, html: { method: :put, novalidate: true, data: { validate: true }}) do |f| %>
      <div class="form-group">
        <%= f.label :key_contact, class: "required" %>
        <%= f.text_field :key_contact, class: "form-control", required: true %>
      </div>
      
      <div class="form-group">
        <%= f.label :name, class: "required" %>
        <%= f.text_field :name, class: "form-control", required: true %>
      </div>
      
      <div class="form-group">
        <%= f.label :designation, class: "required" %>
        <%= f.text_field :designation, class: "form-control", required: true %>
      </div>
      
      <div class="form-group">
        <%= f.label :landline %>
        <%= f.text_field :landline, class: "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.label :mobile, class: "required" %>
        <%= f.text_field :mobile, class: "form-control", required: true, data: { "rule-number" => true, "rule-minlength" => "10", "rule-maxlength" => "10" } %>
      </div>
      
      <div class="form-group">
        <%= f.label :email, class: "required" %>
        <%= f.email_field :email, class: "form-control", required: true %>
      </div>
      
      <div class="form-group">
        <%= f.label :pan_card, class: "required" %>
        <%= f.text_field :pan_card, class: "form-control", required: true, data: { "rule-pan" => true } %>
      </div>
      
      <div class="form-group">
        <%= f.label :aadar_card, class: "required" %>
        <%= f.text_field :aadar_card, class: "form-control", required: true, data: { "rule-aadar" => true } %>
      </div>
      
      <div class="form-group">
        <%= f.hidden_field :vendor_application_id %>
        <%= f.hidden_field :id %>
        <%= f.submit "Submit", class: "btn btn-primary px-5 p-2" %>
      </div>
    <% end %>
  </div>
<% end %>