<div class="container my-3 content">
  <div class="row">
    <aside class="col-3">
      <h1 class="logo my-5">Hikal</h1>
      <nav>
        <ul class="ml-0 pl-3 list-unstyled list-group">
          <li class="list-group-item <%= current_page?(employees_path) ? "active" : "" %>">
            <a href="<%= employees_path %>">Pending Approvals</a>
          </li>
          
          <li class="list-group-item <%= current_page?(employees_invite_path) ? "active" : "" %>">
            <a href="<%= employees_invite_path %>">Invite vendor</a>
          </li>
          
          <li class="list-group-item">
            <a href="<%= destroy_user_session_path %>" data-method="delete">Logout</a>
          </li>
        </ul>
      </nav>
    </aside>
    <div class="col-9">
      <div id="main-content">
        <%= render partial: "layouts/error_flash" %>
        <%= yield %>
      </div>
    </div>
  </div>
</div>

